// trainers/index ////////////////////
.trainers-heading{
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
}

.trainers-index-wrap{
  max-width: 800px;
  margin: 0 auto;
}

.trainers-index-wrap ul{
  padding: 0;
  margin-top: 15px;
}

.trainers-index-item {
  padding: 10px 15px;
  background-color: white;
  // overflow: hidden; //要素のボックスからはみ出た部分は隠す
  border: solid 1px #ccc;
  border-top: solid 3px #6ddab1;
  margin-top: 15px;
}

.trainer-head{
  padding: 0 10px 5px;
  position: relative;
}

.btn-bookmark{
  position: absolute;
  right: 10px;
  top: 5px;
}

.trainer-name{
  font-size: 24px;
  padding-left: 30px;
}

.trainer-inner{
  border-top: solid 1px #ddd;
  padding: 10px 0 0;
  overflow: hidden;
}

.trainer-inner img{
  width: 150px;
  border-radius: 50%;
  float: left;
  
}

.trainer-inner-right{
  // background: #eee;
  overflow: hidden;
  height: 160px;
  padding-left: 15px;
}

.trainer-message{
  // background: #ccc;
}

.btn-send-message{
  display: inline-block;
  background-color: #668ad8;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 5px;
}


// trainers/show //////////////////
.trainer-show{
  text-align: center;
}

.trainer-information{
  padding: 30px 0 20px;
}

.trainer-information img{
  width: 80px;
  height: 80px;
  margin: 20px 0 10px;
}

// trainers/new ////////////////////
.trainer-new{
  text-align: center;
}

.trainer-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.trainer-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}