<div class="main trainers-index">
  <div class="container">
    <h1 class="trainers-heading">トレーナー一覧画面です</h1>
    <% @trainers.each do |trainer| %>
      <div class="trainers-index-item">
        <div class="trainer-left">
          <img src= <%= "/user_images/#{trainer.user.image}" %> ></img>
        </div>
        <div class="trainer-right">
          <%= link_to(trainer.user.name, "/trainers/#{trainer.id}") %>
        </div>
      </div>
    <% end %>
    <%= paginate @trainers %>
  </div>
</div>