<div class="main trainer-new">
  <div class="container">
    <!--エラーメッセージ表示-->
    <div class="error-messages">
      <% if @trainer.errors.any? %>
        <% @trainer.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    </div>
    
    <!--トレーナー登録フォーム-->    
    <div class="trainer-form">
      <%= form_with(url: '/trainers/create', local: true) do |form| %>
        <p>自己PR・メッセージ</p>
          <textarea name="message" cols="40" rows="6" value="<%= @trainer.message %>"></textarea>
        <div class="submit">
          <input type="submit" value="登録する">
        </div>
      <% end %>
    </div>
  </div>
</div>